.pagination{
    width:1000px;
    margin-left:50%;
    margin-top:20px;
}
.page-link {
    position: relative;
    display: block;
    color: #fff;
    text-decoration: none;
    background-color: #83A0D2;
    border: 1px solid #eee;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.page-link:active, .page-link:hover, .page-link:visited{
    position: relative;
    display: block;
    color: #fff;
    text-decoration: none;
    background-color: #83A0D2;
    border: 1px solid #eee;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.page-item.active .page-link {
    z-index: 3;
    color: #83A0D2;
    background-color: #fff;
    border-color: #eee;
}
.page-item.active .page-link:active, .page-item.active .page-link:hover, .page-item.active .page-link:visited{
    z-index: 3;
    color: #83A0D2;
    background-color: #fff;
    border-color: #eee;
}