.passwordModal_body{
    width:260px;
    height: 80px;
    background-color: white;
    border-radius: 10px;
}
.passwordModal_body > h5{
    float:left;
    margin-right:10px;
    color:#83A0D2;
    font-size:12px;
    margin-top:10px;
}
.passwordBtn, .passwordBtn:visited, .passwordBtn:hover, .passwordBtn:active {
    margin-left: 10px;
    font-size:12px;
    background-color: #83A0D2;
    border: #83A0D2;
}
.passwordBtn:active, .passwordBtn:focus {
    margin-left: 10px;
    font-size:12px;
    background-color: #83A0D2 !important;
    border: #83A0D2 !important;
}
.passwordInput{
    width:150px;
    margin-left:10px;
    margin-right:10px;
    border:none;
}
.passwordInput:focus{
    outline:3px solid #C0D4F8;
}
.inputBtn{
    border-radius: 5px;
    color:#83A0D2;
    border:#ebebeb;
    background-color: white;
    font-size: 15px;
    padding-top:3px;
    padding-bottom:3px;
}
.modal-inner{
    text-align: center;
}